<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC ".//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<resultMap type="brand" id="brandMap">
		<result column="brand_no" property="brandNo" />
		<result column="brand_title" property="brandTitle" />
		<result column="brand_license" property="brandLicense" />
		<result column="brand_type" property="brandType" />
		<result column="brand_addr" property="brandAddr" />
		<result column="brand_detailAddr" property="brandDetailAddr" />
		<result column="brand_enrollDate" property="brandEnrollDate" />
		<result column="brand_state" property="brandState" />
		<result column="member_no" property="memberNo" />
	</resultMap>

	<resultMap type="managepreproduct" id="managePreProductMap">
		<result column="pre_product_bctitle"
			property="preProductBcTitle" />
		<result column="pre_product_sctitle"
			property="preProductScTitle" />
		<result column="pre_product_brandtitle"
			property="preProductBrandTitle" />
		<result column="pre_product_title" property="preProductTitle" />
		<result column="pre_product_state" property="preProductState" />
		<result column="pre_product_date" property="preProductDate" />
		<result column="pre_product_no" property="preProductNo" />
	</resultMap>
	
	<resultMap type="preproduct" id="preProductMap">
		<result column="pre_product_no" property="preProductNo" />
		<result column="pre_product_title" property="preProductTitle" />
		<result column="pre_product_discript" property="preProductDiscript" />
		<result column="pre_product_state" property="preProductState" />
		<result column="pre_product_date" property="preProductDate" />
		<result column="brand_no" property="brandNo" />
		<result column="bc_no" property="bcNo" />
		<result column="sc_no" property="scNo" />
	</resultMap>

	<!-- javaType="string" -->
	<select id="selectBrandList" resultMap="brandMap">
		select * from brand order
		by brand_enrolldate desc
	</select>

	<select id="selectBrandCount" resultType="_int">
		select count(*) from brand
	</select>


	<update id="brandStateUpdate" parameterType="map">
		update brand set
		brand_state = #{brandState} where brand_no = #{brandNo}
	</update>

	<!-- javaType="string" -->
	<select id="selectPreProductList" resultMap="managePreProductMap">
		select	big_category.bc_title as "pre_product_bctitle", small_category.sc_title as "pre_product_sctitle", brand.brand_title as	"pre_product_brandtitle", pre_product_title as "pre_product_title",
		pre_product_state as "pre_product_state", pre_product_date as
		"pre_product_date", pre_product_no as "pre_product_no" from
		pre_product join brand on (brand.brand_no = pre_product.brand_no) join
		big_category on (pre_product.bc_no = big_category.bc_no) join
		small_category on (pre_product.sc_no = small_category.sc_no) order by pre_product_date desc
	</select>

	<select id="selectPreProductCount" resultType="_int">
		select count(*)	from pre_product order by pre_product_date desc
	</select>

	<update id="preProductStateUpdate" parameterType="map">
		update pre_product set pre_product_state = #{preProductState} where pre_product_no = #{preProductNo}
	</update>
		
	<select id="selectPreProduct" parameterType="string" resultMap="preProductMap">
		SELECT * FROM PRE_PRODUCT WHERE PRE_PRODUCT_NO = #{preProductNo}
	</select>	
	
</mapper>
