<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	<!-- <insert id="insertDelivery" parameterType="delivery">
  		INSERT INTO DELIVERY VALUES('D_NO_'||SEQ_DELIVERY_NO.NEXTVAL, #{deliveryPostCode},#{deliveryAddr},#{deliveryDetailAddr},#{memberNo})
  		<selectKey keyProperty="deliveryNo" resultType="String" order="AFTER">
  			SELECT 'D_NO_'||SEQ_DELIVERY_NO.CURRVAL FROM DUAL
  		</selectKey>
  	</insert> -->
  	<insert id="insertOrder" parameterType="order">
  		INSERT INTO PRODUCT_ORDER VALUES('P_ORDER_NO'||SEQ_ORDER_NO.NEXTVAL, #{orderPayStatus}, DEFAULT, #{orderTotalPrice}, #{orderPayType}, #{deliveryPostCode}, #{deliveryAddr}, #{deliveryDetailAddr}, DEFAULT, #{imp_uid}, #{merchant_uid}, #{productOption}, #{productOptionQty}, #{productNo}, #{memberNo},null)
  	</insert>
  	
  	<select id="selectDeliveryList" parameterType="string" resultType="map">
  		SELECT * FROM DELIVERY WHERE MEMBER_NO=#{memberNo}
  	</select>
  	
  	<resultMap type="delivery" id="deliveryMap">
  		<result column="DELIVERY_NO" property="deliveryNo"/>
  		<result column="DELIVERY_POSTCODE" property="deliveryPostCode"/>
  		<result column="DELIVERY_ADDR" property="deliveryAddr"/>
  		<result column="DELIVERY_DETAILADDR" property="deliveryDetailAddr"/>
  		<result column="MEMBER_NO" property="memberNo"/>
  	</resultMap>
  	
  	<select id="selectDelivery" parameterType="delivery" resultMap="deliveryMap">
  		SELECT * FROM DELIVERY WHERE DELIVERY_NO=#{deliveryNo} AND MEMBER_NO=#{memberNo}
  	</select>
  	
  	<update id="updateProductSell" parameterType="map">
  		UPDATE PRODUCT SET PRODUCT_CURSELL=PRODUCT_CURSELL+#{productOptionQty}, PRODUCT_TOTALSELL=PRODUCT_TOTALSELL+#{productOptionQty} WHERE PRODUCT_NO = #{productNo}
  	</update>
  	
  	<select id="selectProductOption" parameterType="string" resultType="map">
  		SELECT * FROM PRODUCT_OPTION WHERE PRODUCT_OPTION_NO = #{productOptionNo}
  	</select>
  	
  	<select id="selectCategoryMap" parameterType="string" resultType="map">
  		SELECT * FROM PRODUCT WHERE PRODUCT_NO=#{productNo}
  	</select>
</mapper>
