<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	<insert id="insertDelivery" parameterType="delivery">
  		INSERT INTO DELIVERY VALUES('D_NO_'||SEQ_DELIVERY_NO.NEXTVAL, #{deliveryPostCode},#{deliveryAddr},#{deliveryDetailAddr},#{memberNo})
  		<selectKey keyProperty="deliveryNo" resultType="String" order="AFTER">
  			SELECT 'D_NO_'||SEQ_DELIVERY_NO.CURRVAL FROM DUAL
  		</selectKey>
  	</insert>
  	<insert id="insertOrder" parameterType="order">
  		INSERT INTO PRODUCT_ORDER VALUES('P_ORDER_NO'||SEQ_ORDER_NO.NEXTVAL, DEFAULT, #{orderTotalPrice}, #{orderPayType}, #{deliveryNo}, DEFAULT, #{imp_uid}, #{merchant_uid}, #{productOptionSubject}, #{productOptionQty}, #{productNo}, #{memberNo})
  	</insert>
</mapper>
