<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop">
	<resultMap type="brand" id="brandMap">
   		<result column="brand_no" property="brandNo"/>
   		<result column="brand_title" property="brandTitle"/>	
   		<result column="brand_license" property="brandLicense"/>	
   		<result column="brand_type" property="brandType"/>	
   		<result column="brand_addr" property="brandAddr"/>	
   		<result column="brand_detailAddr" property="brandDetailAddr"/>	
   		<result column="brand_enrollDate" property="brandEnrollDate"/>		
   		<result column="brand_state" property="brandState"/>
   		<result column="member_no" property="memberNo"/>
	</resultMap>
	<resultMap type="bigcategory" id="bcMap">
		<result column="bc_no" property="bcNo"/>
   		<result column="bc_title" property="bcTitle"/>
	</resultMap>
	<resultMap type="smallcategory" id="scMap">
		<result column="sc_no" property="scNo"/>
   		<result column="sc_title" property="scTitle"/>
   		<result column="bc_no" property="bcNo"/>
	</resultMap>
	<resultMap type="preproduct" id="preproductMap">
		<result column="pre_product_no" property="preProductNo"/>
   		<result column="pre_product_title" property="preProductTitle"/>
   		<result column="pre_product_discript" property="preProductDiscript"/>
		<result column="pre_product_state" property="preProductState"/>
   		<result column="pre_product_date" property="preProductDate"/>
   		<result column="brand_no" property="bcNo"/>
		<result column="bc_no" property="bcNo"/>
  		<result column="sc_no" property="scNo"/>
  		<result column="bc_title" property="bcTitle" />
		<result column="sc_title" property="scTitle" />
	</resultMap>
	<resultMap type="product" id="productMap">
		<result column="product_no" property="productNo" />
		<result column="product_title" property="productTitle" />
		<result column="product_enrolldate" property="productEnrollDate" />
		<result column="product_update" property="productUpdate" />
		<result column="product_profile" property="productProfile" />
		<result column="product_comment" property="productComment" />
		<result column="product_state" property="productState" />
		<result column="product_step" property="productStep" />
		<result column="product_price" property="productPrice" />
		<result column="product_max" property="productMax" />
		<result column="product_min" property="productMin" />
		<result column="product_enddate" property="productEndDate" />
		<result column="sc_no" property="scNo" />
		<result column="bc_no" property="bcNo" />
		<result column="brand_no" property="brandNo" />
		<result column="member_no" property="memberNo" />
		<result column="admin_no" property="adminNo" />
		<result column="product_totalsell" property="productTotalSell" />
		<result column="product_cursell" property="productCurSell" />		
		<result column="product_qty" property="productQty" />
		<result column="product_discount" property="productDiscount" />
	</resultMap>
	
	<select id="selectBrandList" resultMap="brandMap" parameterType="string">
		SELECT * FROM BRAND WHERE MEMBER_NO = #{memberNo}	
	</select>
	<insert id="insertBrand" parameterType="map">
		INSERT INTO BRAND VALUES('B_NO_'||SEQ_BRAND_NO.nextval, 
		#{brandTitle}, #{brandLicense}, #{brandType}, #{brandAddr}, #{brandDetailAddr}, DEFAULT, DEFAULT, #{memberNo})
	</insert>
	<select id="selectBrand" parameterType="string" resultMap="brandMap">
		SELECT * FROM BRAND WHERE BRAND_NO = #{brandNo}
	</select>
	<insert id="insertPreProduct" parameterType="map">
		INSERT INTO PRE_PRODUCT VALUES('PRE_P_NO_'||SEQ_PRE_PRODUCT_NO.nextval,
		#{preProductTitle}, #{preProductDiscript}, DEFAULT, DEFAULT, #{brandNo}, #{bcNo}, #{scNo})
	</insert>
	<select id="selectBcList" resultMap="bcMap">
		SELECT * FROM BIG_CATEGORY
	</select>
	<select id="selectScList" resultMap="scMap" parameterType="string">
		SELECT * FROM SMALL_CATEGORY WHERE BC_NO = #{bcNo}
	</select>
	<update id="updateBrand" parameterType="map">
		UPDATE BRAND SET BRAND_ADDR = #{brandAddr}, BRAND_DETAILADDR = #{brandDetailAddr}, BRAND_TYPE = #{brandType}, BRAND_STATE = 0
		WHERE BRAND_NO = #{brandNo}
	</update>
	<select id="selectPreProductCount" resultType="_int" parameterType="string">
		SELECT COUNT(*) FROM PRE_PRODUCT WHERE BRAND_NO = #{brandNo}
	</select>
	<select id="selectPreProductList" resultMap="preproductMap" parameterType="string">
		SELECT PRE_PRODUCT.*, BIG_CATEGORY.BC_TITLE, SMALL_CATEGORY.SC_TITLE FROM PRE_PRODUCT JOIN BIG_CATEGORY ON (BIG_CATEGORY.BC_NO = PRE_PRODUCT.BC_NO)
		JOIN SMALL_CATEGORY ON (SMALL_CATEGORY.SC_NO = PRE_PRODUCT.SC_NO) WHERE BRAND_NO = #{brandNo} ORDER BY PRE_PRODUCT.PRE_PRODUCT_DATE DESC
	</select>
	<select id="selectPreProduct" resultMap="preproductMap" parameterType="string">
		SELECT PRE_PRODUCT.*, BIG_CATEGORY.BC_TITLE, SMALL_CATEGORY.SC_TITLE FROM PRE_PRODUCT JOIN BIG_CATEGORY ON (BIG_CATEGORY.BC_NO = PRE_PRODUCT.BC_NO)
		JOIN SMALL_CATEGORY ON (SMALL_CATEGORY.SC_NO = PRE_PRODUCT.SC_NO) WHERE PRE_PRODUCT.PRE_PRODUCT_NO = #{preNo}
	</select>
	<select id="selectBrandProductCount" resultType="_int" parameterType="map">
		SELECT COUNT(*) FROM PRODUCT WHERE BRAND_NO = #{brandNo} AND PRODUCT_STATE = #{productState}
	</select>
	<select id="selectBrandProductList" resultMap="productMap" parameterType="map">
		SELECT * FROM PRODUCT WHERE BRAND_NO = #{brandNo} AND PRODUCT_STATE = #{productState} ORDER BY PRODUCT_ENROLLDATE DESC
	</select>
	<select id="selectOrderCount" resultType="_int" parameterType="string">
		SELECT COUNT(*) FROM PRODUCT_ORDER WHERE PRODUCT_NO = #{productNo} AND ORDER_STATE = '0'
	</select>
	<select id="selectOrderList" resultType="map" parameterType="string">
		SELECT * FROM PRODUCT_ORDER WHERE PRODUCT_NO = #{productNo} AND ORDER_STATE = '0' ORDER BY ORDER_DATE DESC
	</select>
</mapper>
